.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.gridItem {
  flex: 1 1 calc(50% - 0.5rem);
  min-width: 0;
}

@media (min-width: 640px) {
  .gridItem {
    flex: 1 1 calc(33.333% - 2rem);
  }
}
